<section class="ftco-section bg-light ftco-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-md-last">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP4jQXHavc8PeBxzxVDqsLpIA-Ljo6BjIR7g&usqp=CAU);">
                    <a href="https://vimeo.com/103749913" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
                <div class="d-flex mt-3">
                    <div class="img img-2 mr-md-2" style="background-image: url(https://www.greenbriarpets.com/wp-content/uploads/2016/08/group-training-clubs.jpg);"></div>
                    <div class="img img-2 ml-md-2" style="background-image: url(https://1.bp.blogspot.com/-8yRoagOR9To/XqxOSjI_-gI/AAAAAAAAAcM/A7LlD5rnkW8eZaaa-YJ5Swdgo7rugN_4ACLcBGAsYHQ/s1600/jamie-street-MoDcnVRN5JU-unsplash.jpg);"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="heading-section mb-5 mt-5 mt-lg-0">
                    <h2 class="mb-3">Frequently Asks Questions</h2>
                    <p>A Pet Sitter is a contracted service provider who takes care of a pet in its own home.</p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0">How to train your pet dog?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>Start a Dog Obedience Program:</li>
                                    <li>Train Your Dog Using Games: </li>
                                    <li>Six Weeks to a Well-Trained Dog:</li>
                                    <li>Positive Reinforcement:</li>                        
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                    <p class="mb-0">How to manage your pets?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>Survey Your Space.</li>
                                    <li>Money Matters.</li>
                                    <li>Consult Your Vet.</li>
                                    <li>Breed All About It.</li>
                                    <li>Feeding Frenzy.</li>
                                    <li>Time Management.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                    <p class="mb-0">What is the best grooming for your pets?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>Regularly brush your dog’s coat to prevent matting.</li>
                                    <li>Trim your dog’s hair – but use caution.</li>
                                    <li>Safely trim your dog’s nails.</li>
                                    <li>Check your dog’s skin as you groom.</li>
                                    <li>Teach your dog to enjoy grooming sessions.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0" id="headingFour" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0">What are those requirements for sitting pets?</p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>Pet sitters provide daily care for pets while their owners are on vacation. They typically stay in the home of the owner, so the pets can remain on their familiar territory. In addition to caring for pets, they may also provide basic services for the owner, such as collecting mail and vacuuming pet hair.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>