
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Affordable Packages</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="block-7">
                    <div class="img" style="background-image: url(https://www.aspca.org/sites/default/files/pet-care_end-of-life-care_main-image.jpg);"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block">Personal</span>
                        <span class="price"><sup>$</sup> <span class="number">19</span> <sub>/mos</sub></span>

                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>5 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>3 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>3 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="block-7">
                    <div class="img" style="background-image: url(https://smallbiztrends.com/wp-content/uploads/2016/01/dog-spa.jpg);"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block">Business</span>
                        <span class="price"><sup>$</sup> <span class="number">39</span> <sub>/mos</sub></span>

                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>10 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>6 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>6 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="block-7">
                    <div class="img" style="background-image: url(https://s3fs.bestfriends.org/s3fs-public/pages/blackdog-browndog-bestfriends.jpg);"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block">Ultimate</span>
                        <span class="price"><sup>$</sup> <span class="number">59</span> <sub>/mos</sub></span>

                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>20 Dog Walk</li>
                            <li><span class="fa fa-check mr-2"></span>10 Vet Visit</li>
                            <li><span class="fa fa-check mr-2"></span>10 Pet Spa</li>
                            <li><span class="fa fa-check mr-2"></span>Gps tracking and Free Supports</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="Pricing" asp-action="Payment" class="btn btn-primary d-block px-2 py-3 col-md-6 offset-3">Get Started</a>

</section>