
@{ this.ViewData["Title"] = "Pricing"; }

<section class="hero-wrap hero-wrap-2" style="background-image: url('https://www.dogtiredsc.com/wp-content/uploads/2018/07/pet-sitting-header.jpg'); " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-0 bread">Pricing</h1>
            </div>
        </div>
    </div>
</section>


@if (this.TempData["Success"] != null)
{
    <hr />
    <hr />
    <div class="container">
        <div class="row">
            <div class="alert alert-warning alert-dismissible fade show col-md-12" role="alert">
                <strong> Your payment was successful!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}

<partial name="_PayPackages" />

<partial name="_FreeConsultation" />