<div class="container">

    <div class="row">
        <div class="col-md-12">
            <img src="https://newcastlebeach.org/images/animal-clinic-3.jpg" />
        </div>
        <div class="col-md-12">
            <strong>For many pet parents, leaving their furry family member for the first time can be a stressful experience. Animals Care professionally trained team goes the extra mile to calm both pets and their parents. We’ll care for your pup as if they’re our own and treat them like the really big deal they are!</strong>
        <hr />
        </div>
        <div class="col-md-12 offset-2">
            <a asp-controller="Services" asp-action="DogWalking" class="btn btn-info text-white col-md-4">Dog Walking</a>
            <a asp-controller="Services" asp-action="PetGrooming" class="btn btn-info text-white col-md-4">Pet Grooming</a>
            <hr />
        </div>
        <div class="col-md-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLa5cQkbzmQNSML3NbUFFPEnsWKCMX5rsaUw&usqp=CAU" />
        </div>
        <div class="col-md-4">
            <p>Your rabbit needs to be neutered? Your boa constrictor has pneumonia? Your parrot has an overgrown beak? What are you to do?</p>
        </div>
        <div class="col-md-6">
            <p>
                Birds are very skilled in hiding signs of illness.  Often times when we first notice signs they are not feeling well, they have actually been sick for a few days.  In the wild, birds socialize in flocks and are generally prey species.  In order to survive, they must act normally so they do not get cast out of the flock and become more susceptible to predators.
            </p>
        </div>
        <div class="col-md-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkERTRpBY-wuT-307tDTONX17n9XaMmhRJIg&usqp=CAU" />
        </div>
        <div class="col-md-12">
            <img src="https://www.womensonlinemagazine.com/wp-content/uploads/2020/11/oakland-and-east-bay-dog-daycare-1024x683-1.jpg" />
        </div>
        <div class="col-md-12">
            <p>At our Veterinary Clinic, our approach to canine veterinary medicine revolves around a comprehensive, competent, and compassionate care program, aimed at ensuring the highest quality of life for your dog. Perhaps the greatest measure of our success is found in our many happy dogs and kind words from our clients. We value the long-term relationships we have with our clients. Through good communication and trust, we have built so many great relationships with our clients, which allow us to partner with them to provide the best care for their dogs. </p>
        </div>
    </div>
</div>